// Colors
$green: #3D563B;
$light-green: #62926C;
$beige: #FFE1B7;
$light-beige: #FFF0DB;
$light-brown: #7B471F;
$brown: #452913;
$dark-brown: #301D0D;
$matte-light-brown: #6E4A2E;
$white: #fff;

// Fonts
$font--primary: "Altone Bold";
$font--primary-r: "Altone";
$font--secondary: "Quicksand";

// DESKTOP: Font sizes (in pixels) / line-heights
$font-size--h1: 42;
$line-height--h1: 48;

$font-size--h2: 34;
$line-height--h2: 36;

$font-size--h3: 26;
$line-height--h3: 28;

$font-size--h4: 22;
$line-height--h4: 28;

$font-size--paragraph: 16;
$line-height--paragraph: 28;

$font-size--label: 14;
$line-height--label: 20;

$font-size--input: 14;
$line-height--input: 20;

$font-size--button: 16;
$line-height--button: 24;


// MOBILE: Font sizes (in pixels) / line-heights
$s-font-size--h1: 30;
$s-line-height--h1: 33;

$s-font-size--h2: 16;
$s-line-height--h2: 28;

$s-font-size--h3: 19;
$s-line-height--h3: 28;

$s-font-size--h4: 14;
$s-line-height--h4: 24;

$s-font-size--paragraph: 13;
$s-line-height--paragraph: 18;

$s-font-size--label: 12;
$s-line-height--label: 16;

$s-font-size--input: 12;
$s-line-height--input: 18;

$s-font-size--button: 12;
$s-line-height--button: 18;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1240px,
);

$screen-sm: #{map-get($grid-breakpoints, sm)};
$screen-md: #{map-get($grid-breakpoints, md)};
$screen-lg: #{map-get($grid-breakpoints, lg)};
$screen-xl: #{map-get($grid-breakpoints, xl)};

$screen-phone: $screen-sm;
$screen-tablet: $screen-md;
$screen-desktop: $screen-lg;
$screen-lg-desktop: $screen-xl;

$screen-xs-max: #{map-get($grid-breakpoints, sm) - 1};
$screen-sm-max: #{map-get($grid-breakpoints, md) - 1};
$screen-md-max: #{map-get($grid-breakpoints, lg) - 1};
$screen-lg-max: #{map-get($grid-breakpoints, xl) - 1};

// Lazy media query variables.
$mobile: "screen and (min-width: #{$screen-sm})";
$tablet: "screen and (min-width: #{$screen-md})";
$normal: "screen and (min-width: #{$screen-lg})";
$wide: "screen and (min-width: #{$screen-xl})";
$mobile-only: "screen and (max-width: #{$screen-sm-max})";
$tablet-only: "screen and (min-width: #{$screen-md}) and (max-width: #{$screen-md-max})";
$normal-only: "screen and (min-width: #{$screen-lg}) and (max-width: #{$screen-lg-max})";
$mobile-down: "screen and (max-width: #{$screen-sm-max})";
$tablet-down: "screen and (max-width: #{$screen-md-max})";
$normal-down: "screen and (max-width: #{$screen-lg-max})";

// Transitions
$transition-fast: 0.35s;
$transition-normal: 0.55s;
$transition-slow: 0.75s;

// Shadows
$box-shadow--primary: 1px 1px 6px 0 rgba(0, 0, 0, 0.48);
$box-shadow--secondary: -4px -4px inset rgba(0, 0, 0, 0.25);

// Z-index
$index-low: -5;
$index-1: 1;
$index-2: 10;
$index-3: 50;
$index-4: 100;
$index-5: 200;
$index-6: 300;
$index-top: 999;