@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
header > nav {
  width: 100%;
  background: #3D563B;
  z-index: 200;
  position: relative;
  box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.48);
}
header > nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem 1rem;
}
header > nav ul li a {
  color: #FFE1B7;
  font-size: 14px;
  transition: 0.35s;
}
header > nav ul li a:hover {
  color: #FFF0DB;
}
header > nav ul li svg {
  width: 7rem;
}
header > nav ul li:not(:last-of-type) {
  margin-right: 1rem;
}
header > nav ul li:first-of-type {
  margin-right: auto;
}

#p-home .hero {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
#p-home .hero img {
  position: absolute;
  opacity: 0.7;
  width: 100%;
  z-index: 10;
}
#p-home .hero video {
  max-width: 100%;
  z-index: 1;
}
#p-home .hero > div {
  z-index: 50;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  max-width: 80%;
}
#p-home .hero > div h1 {
  margin-bottom: 0;
}
#p-home .hero > div h2 {
  margin-bottom: 0.8rem;
  display: flex;
  font-family: Altone;
  font-weight: 400;
}
#p-home .hero > div h1,
#p-home .hero div h2,
#p-home .hero div p {
  color: #FFE1B7;
  text-align: center;
}
#p-home .hero > div span {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  font-family: Altone Bold;
}
#p-home .faq {
  padding: 1rem;
}
#p-home .faq h2 > span {
  display: inline-block;
  transition: 0.35s;
  margin-right: 0.5rem;
}
#p-home .faq h2 {
  margin-bottom: 0.5rem;
  cursor: pointer;
}
#p-home .faq p {
  max-width: 95%;
  margin-left: 1.4rem;
}
#p-home .faq p a {
  margin: 0;
  width: fit-content;
}
#p-home .faq li p {
  display: none;
  opacity: 0;
}
#p-home .faq li span {
  transform: rotate(0deg);
}
#p-home .faq li.active p {
  display: inline-block;
  opacity: 1;
}
#p-home .faq li.active span {
  transform: rotate(90deg);
}

#p-tips {
  padding: 1rem 0.5rem;
}
#p-tips h1 {
  margin: 0;
}

#p-tips .tips button {
  outline: none;
  border: none;
  background: none;
}
#p-tips .tips > ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#p-tips .tips p, #p-tips .tips h3, #p-tips .tips a {
  color: #FFE1B7;
  margin: 0;
}
#p-tips .tips ol > li {
  list-style-position: outside;
  margin-left: 1em;
}
#p-tips .tips > ul > li:not(.info) {
  box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.48);
  background: #3D563B;
  color: #FFE1B7;
  padding: 0.4rem 0.75rem;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 1rem;
}
#p-tips .tips > ul > li:not(.info) > div {
  display: flex;
  width: 100%;
}
#p-tips .tips > ul > li:not(.info) > div button {
  margin-left: auto;
  width: fit-content;
  margin-bottom: 0;
}
#p-tips .tips > ul > li:not(.info) > div button svg {
  max-width: 2rem;
  height: fit-content;
}
#p-tips .tips > ul > li:not(.info) > div button path {
  fill: #FFE1B7;
  stroke: #ffcc84;
  transition: 0.35s;
}
#p-tips .tips > ul > li:not(.info) > div button.active path {
  fill: #6f9e79;
  stroke: #62926C;
}
#p-tips .tips > span {
  display: flex;
  justify-content: center;
}
#p-tips .tips > span button img {
  width: 3rem;
}
#p-tips .tips > span button:disabled {
  opacity: 0.6;
}

#tips-random {
  margin-bottom: 1.5rem;
}
#tips-random .info h3 {
  text-align: center;
  color: #301D0D;
}

/* Any imports required multiple times across the site will be imported here. */
@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand/QuicksandBook-Regular.woff2") format("woff2"), url("../fonts/Quicksand/QuicksandBook-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Altone";
  src: url("../fonts/Altone/AltoneTrial-Regular.woff2") format("woff2"), url("../fonts/Altone/AltoneTrial-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Altone Bold";
  src: url("../fonts/Altone/AltoneTrial-Bold.woff2") format("woff2"), url("../fonts/Altone/AltoneTrial-Bold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* Any CSS beyond this point will be globally applied to the whole document. */
article,
figure,
footer,
header,
nav,
section {
  display: block;
}

body {
  line-height: 0;
}

ul {
  list-style: none;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #FFE1B7;
}
body ol {
  font-family: "Quicksand";
  font-weight: 800;
  font-style: normal;
}
body a {
  color: #452913;
}
body button {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body button,
body a,
body input,
body select {
  font-family: "Altone Bold";
  font-weight: 800;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 1rem;
}
@media screen and (max-width: 767px) {
  body button,
  body a,
  body input,
  body select {
    font-size: 12px;
    line-height: 18px;
  }
}
body h1 {
  font-family: "Altone Bold";
  font-weight: 800;
  font-style: normal;
  font-size: 42px;
  line-height: 48px;
  margin-bottom: 1rem;
  color: #301D0D;
}
@media screen and (max-width: 767px) {
  body h1 {
    font-size: 30px;
    line-height: 33px;
  }
}
body h2 {
  font-family: "Altone Bold";
  font-weight: 800;
  font-style: normal;
  font-size: 34px;
  line-height: 36px;
  margin-bottom: 1rem;
  color: #301D0D;
}
@media screen and (max-width: 767px) {
  body h2 {
    font-size: 16px;
    line-height: 28px;
  }
}
body h3 {
  font-family: "Altone Bold";
  font-weight: 800;
  font-style: normal;
  font-size: 26px;
  line-height: 28px;
  margin-bottom: 1rem;
  color: #301D0D;
}
@media screen and (max-width: 767px) {
  body h3 {
    font-size: 19px;
    line-height: 28px;
  }
}
body h4 {
  font-family: "Altone Bold";
  font-weight: 800;
  font-style: normal;
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 0.15rem;
  color: #301D0D;
}
@media screen and (max-width: 767px) {
  body h4 {
    font-size: 14px;
    line-height: 24px;
  }
}
body p {
  font-family: "Quicksand";
  font-weight: 800;
  font-style: normal;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 1rem;
  color: #452913;
}
@media screen and (max-width: 767px) {
  body p {
    font-size: 12px;
    line-height: 18px;
  }
}
body label {
  font-family: "Quicksand";
  font-weight: 800;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 1rem;
  color: #452913;
}
@media screen and (max-width: 767px) {
  body label {
    font-size: 12px;
    line-height: 16px;
  }
}

.-scrollx {
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.-scrollx::-webkit-scrollbar {
  display: none;
}

#eQTlWSRvAGI6_to {
  animation: eQTlWSRvAGI6_to__to 15000ms linear infinite normal forwards;
}

@keyframes eQTlWSRvAGI6_to__to {
  0% {
    transform: translate(370.211271px, 93.636803px);
  }
  100% {
    transform: translate(0.211271px, 93.636803px);
  }
}
#eQTlWSRvAGI14_to {
  animation: eQTlWSRvAGI14_to__to 3000ms linear infinite normal forwards;
}

@keyframes eQTlWSRvAGI14_to__to {
  0% {
    transform: translate(172.84121px, 51px);
    animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  20% {
    transform: translate(172.84121px, 47px);
    animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  40% {
    transform: translate(172.84121px, 51px);
  }
  100% {
    transform: translate(172.84121px, 51px);
  }
}
#eQTlWSRvAGI23_to {
  animation: eQTlWSRvAGI23_to__to 3000ms linear infinite normal forwards;
}

@keyframes eQTlWSRvAGI23_to__to {
  0% {
    transform: translate(101.669751px, 110px);
    animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  26.666667% {
    transform: translate(101.669751px, 100px);
    animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  60% {
    transform: translate(101.669751px, 110px);
  }
  100% {
    transform: translate(101.669751px, 110px);
  }
}
#eQTlWSRvAGI27_to {
  animation: eQTlWSRvAGI27_to__to 3000ms linear infinite normal forwards;
}

@keyframes eQTlWSRvAGI27_to__to {
  0% {
    transform: translate(231.32529px, 110px);
    animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  26.666667% {
    transform: translate(231.32529px, 100px);
    animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  60% {
    transform: translate(231.32529px, 110px);
  }
  100% {
    transform: translate(231.32529px, 110px);
  }
}

/*# sourceMappingURL=style.css.map */
