#p-winkels {
    padding: 1rem 0.5rem;
}

#p-winkels>section>ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    li {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;

        h3 {
            margin: 0;
        }

        &>img {
            width: 6rem;
            height: 6rem;
            border-radius: 5px;
        }

        p {
            margin: 0;
        }
    }

    li:nth-of-type(odd) {
        flex-direction: row;

        &>img {
            margin-right: 0.5rem;
        }
    }

    li>div {
        display: flex;
        flex-direction: column;
        height: 6rem;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}