#p-winkels {
    padding: 1rem 0.5rem;
}

#p-winkels>section>ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    li {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;

        h3 {
            margin: 0;
        }

        span {
            position: relative;

            &>img:nth-of-type(1) {
                position: absolute;
                width: 8.5rem;
                height: 8.5rem;
                transform: translateX(-1.2rem) translateY(-1rem);
            }

            &>img:nth-of-type(2) {
                width: 6rem;
                height: 6rem;
                border-radius: 5px;
            }
        }

        &:nth-of-type(even) span > img {
            margin-left: 0.5rem;
        }

        p {
            margin: 0;
        }
    }

    li:nth-of-type(odd) {
        flex-direction: row;

        &>span {
            margin-right: 0.5rem;
        }
    }

    li>div {
        display: flex;
        flex-direction: column;
        height: 6.15rem;
        justify-content: center;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}